[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admins
	owner = group user/midokura-agustin
	read = group midonet
	read = group user/midokura-agustin
	push = group midonet
	push = group user/midokura-agustin
	label-Code-Review = -2..+2 group midonet
	label-Code-Review = -2..+2 group user/midokura-agustin
	label-Verified = -1..+1 group midonet
	label-Verified = -1..+1 group user/midokura-agustin
	rebase = group midonet
	rebase = group user/midokura-agustin
	removeReviewer = group midonet
	removeReviewer = group user/midokura-agustin
	submit = group midonet
	submit = group user/midokura-agustin
[access "refs/heads/*"]
	read = group midonet
	create = group midonet
	create = group user/midokura-agustin
	push = group midonet
	push = +force group user/midokura-agustin
	pushMerge = group midonet
	pushMerge = group user/midokura-agustin
[access "refs/tags/*"]
	push = group midonet
	push = group user/midokura-agustin
	push = +force group user/midokura-agustin
