[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/midokura-agustin
[access "refs/for/refs/*"]
	read = group user/midokura-agustin
	push = group user/midokura-agustin
	label-Code-Review = -2..+2 group user/midokura-agustin
	label-Verified = -1..+1 group user/midokura-agustin
	rebase = group user/midokura-agustin
	removeReviewer = group user/midokura-agustin
	submit = group user/midokura-agustin
[access "refs/heads/*"]
	read = group user/midokura-agustin
	create = group user/midokura-agustin
	push = +force group user/midokura-agustin
	pushMerge = group user/midokura-agustin
[access "refs/tags/*"]
	push = group user/midokura-agustin
	push = +force group user/midokura-agustin
